*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(212, 8%, 70%);
}
.row{
    height: auto;
    width: 60%;
    background: rgb(7,117,204);
    background: linear-gradient(61deg, rgba(7,117,204,1) 0%, rgba(0,255,248,1) 100%); 
    border-radius: 15px;
    box-shadow: 5px 8px 18px rgb(48, 42, 42);
}
.row .col{
    display: flex;
}
.row h3{
    margin: 1.7rem;
    margin-bottom: 0rem;
}
.col-1{
    width: 50%;
    margin: 1.5rem;
    
}
.inputs{
    display: flex;
    font-size: 1.1rem;
    margin: 1.2rem;
}
.inputs .name{
    text-transform: capitalize;
}
.inputs p{
    margin-right: .7rem;
    width: 9.7rem;

}
.inputs input{
    height: 2.06rem;
    box-shadow: 4px 4px 11px rgb(79, 71, 71);
    border-radius: 12px;
    border: none;
    outline: none;
    width: 12rem;
    padding-left: .5rem;
}
.inputs .gender{
    width: 1.25rem;
    margin: .5rem;
}
.inputs label{
    text-align: center;
    align-items: center;
    margin: auto .4rem;
}
.submit{
    display: block;
    margin: auto;
    height: 2.5rem;
    width: 8rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgba(44, 44, 223,.8);
    box-shadow: 3px 5px 10px rgba(17, 17, 18, 0.8);
    color: white;
    border: none;
    cursor: pointer;
}
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 2.1rem;
    font-size: 1.1rem;
}
.login a{
    margin-left: .5rem;
    margin-top: 2rem;
    border: 2px solid rgb(54, 48, 48);
    padding: .5rem;
    border-radius: 9px;
    text-decoration: none;
    color: rgb(68, 25, 185);
    background-color: rgba( 10, 209, 233  ,.7);
    }

.log{
        display: block;
        margin: auto;
        height: 2.5rem;
        width: 8rem;
        font-size: 1rem;
        border-radius: 10px;
        background-color: rgba(44, 44, 223,.8);
        box-shadow: 3px 5px 10px rgba(17, 17, 18, 0.8);
        color: white;
        border: none;
        cursor: pointer;
        margin-top: 1rem;
        margin-bottom: .5rem;
    }

    .row1{
        height: auto;
        width: 30%;
        background: rgb(7,117,204);
        background: linear-gradient(61deg, rgba(7,117,204,1) 0%, rgba(0,255,248,1) 100%); 
        border-radius: 15px;
        box-shadow: 5px 8px 18px rgb(48, 42, 42);
    }
    .row1 h3{
        margin: 1.7rem;
    }

    .reg{
        display: flex;
      align-items: center;
      justify-content: center;
      height: 5rem;
      font-size: 1.1rem;
    }
    .reg button{
        width: 5.2rem;
        height: 2.35rem;
        font-size: .9rem;
        margin-left: 1rem;
        border-radius: 12px;
        border: none;
        outline: none;
        background-color:  rgb(244, 208, 63 );
        box-shadow: 3px 5px 10px rgba(  27, 79, 114, 0.9);
        color: blue;
        cursor: pointer;
    }